.container {
  display: flex;
  flex-direction: column;
}
.menuContainer {
  display: flex;
  align-items: center;
}
.directionArrow {
  padding-left: 10px;
  padding-right: 50px;
  color: #fff;
}

.menuContainer ul li {
  color: #fff;
  margin: 15px;
  display: inline;
}

.col {
  border: 1px solid #fff;
  height: 200px;
}

.wrapContainer {
}
.title {
  color: #fff;
}
