.container {
  display: flex;
  flex-direction: column;
}
.menuContainer {
  display: flex;
  align-items: center;
}
.directionArrow {
  padding-left: 10px;
  padding-right: 50px;
  color: #fff;
}

.menuContainer ul li {
  color: #fff;
  margin: 15px;
  display: inline;
}

.col {
  border: 1px solid #fff;
  height: 200px;
}

.wrapContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.wrapContainer > * {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 0;
}

.title {
  color: #fff;
  text-overflow: ellipsis;
}

.cardItem {
  padding: 10px;
  background-color: #3c3b3b;
  max-width: 160px;
}
.cardContent {
  display: flex;
  flex-direction: row;
}
.playBtn {
  position: absolute;
  right: 0;
  color: #fff;
}
