.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 100%;
}
.root {
  transition: 250ms all;
  margin: 5px;
  background: none;
  color: #fff;
  z-index: 0;
}

.root:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.BottomContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.title {
  font-size: 14px;
  font-weight: 100;
}
.BottomContent p {
  font-weight: 100;
  font-size: 0.75rem;
}
.media {
  width: 150px;
  height: 150px;
}

@media (max-width: 499px) {
  .root {
    position: relative;
    z-index: 0;
    height: 100px;
  }

  .root .item {
    transition: 250ms all;
    background: none;
    color: #fff;
    z-index: 0;
    height: 100px;
  }
  .media {
  }
}
@media (min-width: 500px) and (max-width: 620px) {
}
@media (min-width: 621px) and (max-width: 800px) {
}

@media (min-width: 801px) and (max-width: 975px) {
}
@media (min-width: 976px) and (max-width: 1105px) {
}
